<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>-->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true">
      <!--<assemblies>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>-->
      <!--<assemblies>
        <add assembly="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>-->
    </compilation>
  </system.web>
  <connectionStrings>
     <!--MSSQL-->
    <!--REMOTE-->
     <!--<add name="CnStr" connectionString="SERVER=184.168.194.53;Initial Catalog=SchMate;Persist Security Info=True;Connection Timeout=15;User ID=SchMateUser;Password=Admin*011;Encrypt=False;Packet Size=4096"/>-->
    <!--LOCAL-->
    <add name="CnStr" connectionString="SERVER=(local);Initial Catalog=SchMate;Persist Security Info=True;Connection Timeout=90;User ID=sa;Password=penny"/>
 
    <!--MySQL-->
    <!--<add name="CnStr" connectionString="Server=localhost;Database=schoolmate;Uid=root;Pwd=penny"/>-->
    <!--FOR SQLLITE-->
    <!--<add name="CnStr" connectionString="Data Source=C:\\Applications\\ApexSuiteOnline\\App_Data\\ApexSuite.Db;Version=3;Password=penny"/>-->
  </connectionStrings>
</configuration>